__pycache__/
*.py[cod]
*$py.class
.env
.venv/
env/
venv/
*.pkl
*.log
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
data/*.csv
# models/version_*
!models/**/*.pkl
experiments/*.json
experiments/*.csv
.prefect/

